<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<h1 class = "staff">Сотрудники</h1>

<ul class = "list">
    <li th:each="p : ${persons}">
        <a th:href="'person/' + ${p.id}" th:text="${p.name}" href="person.html">Тауберт П.И.</a>
    </li>
</ul>
<img class="img" src="../static/img/staff.jpg" th:src="@{/img/staff.jpg}" alt="Staff">
</body>
</html>