<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<h1>Сотрудник</h1>
<form th:action="@{'/person/' + ${person.id}}" method="post">
    <label>ФИО<input th:value="${person.name}" name="name"/></label>
    <label>Заработная плата<input th:value="${person.salary}" name="salary"/></label>
    <button type="submit">Сохранить</button>
</form>
<h2>Его начисления:</h2>
<ol>
    <li th:each="p : ${payments}">
        <a href="../static/payment.html" th:href="'/payment/' + ${p.getPersonId()} + '/' + ${p.getId()}" th:text="'За ' + ${p.getDate()}">За март 2020</a>
    </li>
</ol>
</body>
</html>